﻿/**
 * Author By. Karsei
 * http://karsei.pe.kr
 *
 * This stylesheet is for common purpose.
 */
@charset "utf8";

@import "reset.css";

/* I love nanum gothic! */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*************************************
 * ClearFix
**************************************/
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.nav:before,
.nav:after,
.box-title:before,
.box-title:after,
.box-sub-title:before,
.box-sub-title:after,
.pagination:before,
.pagination:after,
.form-section:before,
.form-section:after
 {
    content: " ";
    display: table;
}
.clearfix:after,
.container:after,
.nav:after,
.box-title:after,
.box-sub-title:after,
.pagination:after,
.form-section:after {
    clear: both;
}

/* For IE6, 7 */
.clearfix,
.container,
.nav,
.box-title,
.box-sub-title,
.pagination,
.form-section {
    *zoom: 1;
}


/*************************************
 * Default Setting
**************************************/
html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    -khtml-text-size-adjust: none;
}

body {
    font-family: "Nanum Gothic", "맑은 고딕", "돋음";
    font-size: 1.0em;
    line-height: 1.6em;
}

a,
a:visited,
a:link,
a:active,
a:hover {
    text-decoration: none;
    color: #3bafda;
}

p {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    max-width: 100%;
    font-weight: bold;
    vertical-align: middle;
}

i {
    vertical-align: middle;
}


/*************************************
 * Adjust Page
**************************************/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Tablets */
@media (min-width: 768px) {
    .container {
        width: 750;
    }
}
/* Desktop(medium) */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Desktop(large) */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

/* Size Fix */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    min-height: 1px;
    float: left;
}
.col-1 {
    width: 8.333%;
}
.col-2 {
    width: 16.666%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.333%;
}
.col-5 {
    width: 41.666%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.333%;
}
.col-8 {
    width: 66.666%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.333%;
}
.col-11 {
    width: 91.666%;
}
.col-12 {
    width: 100%;
}
.col-1-rev {
    margin-left: 8.333%;
}
.col-2-rev {
    margin-left: 16.666%;
}
.col-3-rev {
    margin-left: 25%;
}
.col-4-rev {
    margin-left: 33.333%;
}
.col-5-rev {
    margin-left: 41.666%;
}
.col-6-rev {
    margin-left: 50%;
}
.col-7-rev {
    margin-left: 58.333%;
}
.col-8-rev {
    margin-left: 66.666%;
}
.col-9-rev {
    margin-left: 75%;
}
.col-10-rev {
    margin-left: 83.333%;
}
.col-11-rev {
    margin-left: 91.666%;
}
.col-12-rev {
    margin-left: 100%;
}

/********************
 * Header
*********************/
.header {
    min-height: 100px;
    border-bottom: 1px solid #ededed;
}
.page-title > h1 {
    font-size: 1.6em;
    cursor: default;
}

/********************
 * Nav
*********************/
.nav {
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
}
.nav > li {
    position: relative;
    display: block;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 20px;
}
.nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
}
.nav-menu > li {
    float: left;
}
.nav-menu > li > a {
    border-right: 1px solid #ededed;
    color: #000;
}
.nav-menu > li > a:last-child {
    border: 0px;
}
.nav-menu > li.active,
.nav-menu > li:active,
.nav-menu > li:hover {
    background-color: #ededed;
}
.nav-add-menu > li {
    margin-right: 20px;
    float: left;
}
.nav-add-menu > li > a {
    padding: 15px;
    border-right: 1px solid #ededed;
    font-weight: bold;
    background-color: #c7e843;
    color: #000;
}
.nav-add-menu > li > a:last-child {
    border: 0px;
}
.nav-add-menu > li.active > a,
.nav-add-menu > li:active > a,
.nav-add-menu > li:hover > a {
    background-color: #c7a843;
}


/********************
 * Input
*********************/
.input-line {
    display: block;
    width: 100%;
    height: 20px;
    padding: 3px 6px;
    border: 1px solid #ccc;
    background-color: white;
    color: #bbb;
}
.input-line:focus {
    color: #777;
    border-color: #3bafda;
}
.textarea {
    display: block;
    width: 100%;
    height: 60px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 3px 6px;
}
.medium {
    width: 400px;
}
.short {
    width: 200px;
}
.x-short {
    width: 85px;
}
.xx-short {
    width: 30px;
}


/********************
 * Form
*********************/
.form-col .label {
    text-align: right;
}
.form-inline .input-line {
    display: inline-block;
    vertical-align: middle;
}
.form-inline .textarea {
    display: inline-block;
    vertical-align: middle;
}
.form-section {
    margin-bottom: 15px;
}


/********************
 * Box
*********************/
.box {
    position: relative;
    margin: 20px;
    padding: 20px;
    background-color: #ededed;
}
.box > .box-title {
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #555;
}
.box > .box-title > h1 {
    font-size: 1.4em;
}
.box > .box-title > i {
    margin-right: 10px;
    float: left;
}
.box-sub-title > h1 {
    font-size: 1.2em;
}
.box-sub-title > i {
    margin-right: 10px;
    float: left;
}


/********************
 * Table
*********************/
.table {
    width: 100%;
    max-width: 100%;
    background-color: white;
}
.table-border {
    border: 1px solid #ddd;
}
.table-border > thead > tr > th,
.table-border > tbody > tr > th,
.table-border > thead > tr > td,
.table-border > tbody > tr > td {
    border: 1px solid #ddd;
    padding: 20px;
}
.table-border > thead > tr > th,
.table-border > thead > tr > td {
    border-bottom-width: 2px;
}
.table-strip > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}

/********************
 * Pagination
*********************/
.pagination {
    list-style: none;
}
.pagination > li {
    float: left;
}
.pagination > li:active > a,
.pagination > li.active > a,
.pagination > li:hover > a {
    font-weight: bold;
    background-color: #505050;
    color: white;
}
.pagination > li > a {
    padding: 10px;
    background-color: #5c5c5c;
    color: #dcdcdc;
}


/********************
 * label
*********************/
.label-black {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #777;
    color: #fff;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}


/********************
 * etc
*********************/
.center {
    text-align: center !important;
}
.green {
    color: green;
}
.red {
    color: red;
}